@model GerenciadorDePedidos.Web.Models.Usuario

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar</h2>
<hr />
<p></p>
<p></p>
@using (Html.BeginForm("Salvar", "Usuarios"))
{
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x => x.Nome)
            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", id = "txbNome" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x => x.Login)
            @Html.TextBoxFor(x => x.Login, new { @class = "form-control", id = "txbLogin" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x => x.Senha)
            @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", id = "Senha", type = "password" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>Confirmar Senha</b>
            @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", id = "CSenha", type = "password" })
        </div>
    </div>
    <p></p>
    <div id="btnRegistrar" hidden="hidden">
        <input type="submit" value="Registrar" class="btn btn-success" />
    </div>
    <div>
        <input type="button" class="btn btn-default" value="Verificar" id="btnVerif" />
    </div>
    <p></p>
    <div class="alert alert-warning alert-dismissible" role="alert" hidden="hidden">
        <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Atenção!</strong> Alguns campos estão incorretos ou em branco.
    </div>
   
}

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnVerif').on('click', function () {

            var Senha = $('#Senha').val();

            var confirmarSenha = $('#CSenha').val();

            var txbNome = $('#txbNome').val();

            var txbLogin = $('#txbLogin').val();

            alert(Senha);

            alert(confirmarSenha);

            alert(txbNome);

            alert(txbLogin);


            if ((Senha == "") || (txbNome == "") || (txbLogin == "")) {
                $('.alert').show('slow');
            }
            else
            {
                alert('deu');
                $('#btnRegistrar').show();
                $('#btnVerif').hide();
                $('.alert').hide();                
            }

        });
    });

</script>
